# Meta Pixel & Conversions API (CAPI) Configuration
FB_PIXEL_ID=2219202925544751
FB_ACCESS_TOKEN=EAADE6Lnxf9MBSBGvJs8oC06YIuc1y8siRWiu9fE7JcU2oxpZCYS2Cxwwj28xyTCQJfgSwzZA7CwyqgG1ZC7hBHbedUBt2a2QhtZCGGj0nGiFJBUIAcBijaZBmZBDZBQNzTqbzamWrYd49gxPErYbF3DodmnZBruCm2nuE9bMLZCg27N1nNHybbKZCYg9IC6LN0nNEP3QZDZD
